DirectoryIndex index.html
RewriteEngine On
RewriteBase /

# Force trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1/ [R=301,L]

# Serve index.html inside folder
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)/$ $1/index.html [L]
